<link rel="stylesheet" href="/public/vendor/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/public/css/codemirror-ext.css">
<h1>Creating {{title}}</h1>
<form id="editor-form" method="post" action="{{urlFor resource="doc"}}">
  <div>
    <input autofocus type="text" value="{{docName}}" name="docName" required>
  </div>
  <div>
    <textarea id="editor-content" name="content"></textarea>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
<script src="/public/vendor/codemirror/lib/codemirror.min.js"></script>
<script src="/public/js/editor.js"></script>
