{{>errors}}
<h1>Creating a new folder</h1>
<form id="editor-form" method="post" action="{{urlFor resource="folder" action="create"}}">
  <div>
    <input autofocus type="text" name="folderName" required>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
