{{#if (hasFeature "codeHighlighter")}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{codeHighlighterTheme}}.min.css">
{{/if}}

{{#if docTitle}}
<h1>{{docTitle}}</h1>
{{/if}}
<article>
{{{content}}}
</article>
<hr>
<p><a href="{{urlFor resource="doc" id=docName action="update" into=dirName}}" class="sans">Edit this document</a></p>
