{{#if docTitle}}
<h1>{{docTitle}}</h1>
{{/if}}
<article>
{{{content}}}
</article>
<p><a href="{{urlFor resource="doc" id=docName action="update" into=dirName}}" class="sans">Edit this document</a></p>
