body {
  font-family: 'Roboto', sans-serif;
}

article *:not(code) {
  font-family: 'Libre Baskerville', serif;
}

article code * {
  font-family: inherit;
}

body > header {
  margin-bottom: 1rem;
  padding: 1rem 0;
}

body > main {
  margin-bottom: 2rem;
}

h1 > a.header-anchor,
h2 > a.header-anchor {
  font-size: 60%;
  opacity: 0.2;
  vertical-align: top;
}

h1:hover > a.header-anchor,
h2:hover > a.header-anchor {
  opacity: 1
}
