body {
  font-family: 'Roboto', sans-serif;
}

article * {
  font-family: 'Libre Baskerville', serif;
}

.breadcrumb {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.breadcrumb li {
  display: inline
}

.breadcrumb li:not(:last-child):after {
  content: '/';
  padding: 0 1rem;
}

h1 > a.header-anchor,
h2 > a.header-anchor {
  font-size: 60%;
  opacity: 0.2;
  vertical-align: top;
}

h1:hover > a.header-anchor,
h2:hover > a.header-anchor {
  opacity: 1
}
