html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

form {
  max-width: 60%;
}

form > div {
  margin-bottom: 1rem;
}

form input[type=text] {
  width: 100%;
}

.breadcrumb {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.breadcrumb li {
  display: inline
}

.breadcrumb li:not(:last-child):after {
  content: '/';
  padding: 0 1rem;
}

.hidden {
  display: none;
}

h1 > a.header-anchor,
h2 > a.header-anchor {
  opacity: 0.2
}

h1:hover > a.header-anchor,
h2:hover > a.header-anchor {
  opacity: 1
}
