body {
  font-family: 'Roboto', sans-serif;
}

article *:not(code) {
  font-family: 'Libre Baskerville', serif;
}

article code * {
  font-family: inherit;
}

.j-header {
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: whitesmoke;
  box-shadow: 0 0 4px silver;
}

body > main {
  margin-bottom: 2rem;
}

h1 > a.header-anchor,
h2 > a.header-anchor {
  font-size: 60%;
  opacity: 0.2;
  vertical-align: top;
}

h1:hover > a.header-anchor,
h2:hover > a.header-anchor {
  opacity: 1
}

ul.errors {
  margin-bottom: 0;
}

/* https://google.github.io/material-design-icons/ */
/* https://material.io/resources/icons/ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons { vertical-align: bottom; }
