<style>
.j-auth {
  margin-bottom: 16px;
}

.j-auth-google a {
  position: relative;
}

.j-auth-google a::before {
  content: '\00a0';
  background: url({{urlFor resource="img" id="btn-google.svg"}}) center center no-repeat;
  position: absolute;
  display: block;
  border-right: 1px solid #d5d5d5;
  left: 0;
  top: 0;
  text-align: center;
  padding: 8px 16px;
  background-size: cover;
}

.j-auth-google span {
  margin-left: 40px;
}
</style>

<h2>Sign-in</h2>

{{#if (not (hasAuth ''))}}
<section class="j-auth j-auth-google">
  <p>No authentication provider has been defined.</p>
</section>
{{/if}}

{{#if (hasAuth 'google')}}
<section class="j-auth j-auth-google">
  <h3>Using your Google credentials</h3>
  <a class="button outline" href="#"><span>Sign in with Google</span></a>
</section>
{{/if}}

{{#if (hasAuth 'github')}}
<section class="j-auth j-auth-github">
  <h3>Using your Github credentials</h3>
  <a href="#">Sign in with Github</a>
</section>
{{/if}}

{{#if (hasAuth 'local')}}
<section class="j-auth j-auth-local">
  <h3>Using your local credentials</h3>
  <form>
    <div class="form-item">
      <label>Username <span class="req">*</span></label>
      <input autofocus type="text" name="username" required>
    </div>
    <div class="form-item">
      <label>Password <span class="req">*</span></label>
      <input type="password" name="password" required>
    </div>
    <div class="form-item form-buttons">
      <input type="submit" class="button primary" value="Login">
      <a class="button outline j-last" href="/">Cancel</a>
    </div>
  </form>
</section>
{{/if}}
