<!DOCTYPE html>
<html>
<head profile="">
  <meta charset="utf-8">
  <meta name="generator" content="jingo wiki">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
